/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

#search-input, #search-button-container{
    margin: 10px;
}

.movie-item{
    padding-bottom: 10px;
    padding-top: 10px;
}

#movie-modal-dialog{
    width: 1000px;
    max-width: 1000px;
}

.details{
    padding-right: 20px;
}

.add-to-favorites-button{
    padding-top:10px;
}